html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left; 
}

#contentHolder {
    background-color: rgba(99,155,242,1.0);
    width: 100%;
    height: 100%;
}

#contentHolder > #firstPage {
    height: 100%;
    width: 100%;
}

#contentHolder > #firstPage > #mobileFront {
    padding-top: 40px;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

#contentHolder >  #firstPage >#titleP {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255,255,255,1.0);
}

#contentHolder >  #firstPage >#frontText {
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(41,61,107,1.0);
    margin-left: 10%;
}

#contentHolder >  #firstPage >#mobileBtn {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    background-color:rgba(41,62,107,1.0);
    width: 25%;
    height: 35px;
    color:rgba(255,255,255,1.0);
    float: left;
    margin-left: 5%;
    line-height: 35px;
    margin-top: 25%;
}

#contentHolder >  #firstPage >#webBtn {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgba(120,187,156,1.0);
    width: 25%;
    height: 35px;
    color:rgba(255,255,255,1.0);
    float: left;
    margin-left: 5%;
    line-height: 35px;
    margin-top: 25%;
}

#contentHolder >  #firstPage >#contactBtn {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgba(182,167,84,1.0);
    width: 25%;
    height: 35px;
    color:rgba(255,255,255,1.0);
    float: left;
    margin-left: 5%;
    line-height: 35px;
    margin-top: 25%;
}




#contentHolder > #secondPage {
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: rgba(255,255,255,1.0);
    font-size: 12px;
    background-color: rgba(99,155,242,1.0);

}

#contentHolder > #secondPage > #sec1 {
    height: 25%;
    width: 100%;
}

#contentHolder > #secondPage > #sec2 {
    height: 25%;
    width: 100%;
    background-color: yellow;
}

#contentHolder > #secondPage > #sec3 {
    height: 25%;
    width: 100%;
    background-color: green;
}

#contentHolder > #secondPage > #sec4 {
    height: 25%;
    width: 100%;
    background-color: red;
}


#secimg {
    width: 25%;
    height: auto;
    margin-left:3%;
    float: left;
    padding-top: 7%;
}



#contentHolder > #thirdPage {
    background-color: blue;
    height: 100%;
    width: 100%;
}

#contentHolder > #forthPage {
    background-color: purple;
    height: 100%;
    width: 100%;
}

