html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left; 
}

#contentHolder {
    background-color: rgba(99,155,242,1.0);
    width: 100%;
    height: 100%;
}

#contentHolder > #firstPage {
    height: 100%;
    width: 100%;
}

#contentHolder > #firstPage > #mobileFront {
    padding-top: 20px;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

#contentHolder >  #firstPage >#titleP {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255,255,255,1.0);
}

#contentHolder >  #firstPage >#frontText {
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(41,61,107,1.0);
}

#contentHolder >  #firstPage >#mobileBtn {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(41,61,107,1.0);
    width: 25%;
    height: 40px;
    background-color:green;
    float: left;
    margin-left: 7%;
}

#contentHolder >  #firstPage >#webBtn {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(41,61,107,1.0);
    width: 25%;
    height: 40px;
    background-color:green;
    float: left;
    margin-left: 7%;
}

#contentHolder >  #firstPage >#contactBtn {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(41,61,107,1.0);
    width: 25%;
    height: 40px;
    background-color:green;
    float: left;
    margin-left: 7%;
}




#contentHolder > #secondPage {
    background-color:green;
    height: 100%;
    width: 100%;
}

#contentHolder > #thirdPage {
    background-color: blue;
    height: 100%;
    width: 100%;
}

#contentHolder > #forthPage {
    background-color: purple;
    height: 100%;
    width: 100%;
}

