html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: right; 
    background-color: "#639BF1";
    font-size: 55px;
}

#contentHolder {
    background-color: "#639BF1";
}

#contentHolder > #topBar { 
    display:block;
    background-color: "#293E6A";
    width: 100%;
    height: 50px;
}
