html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center; 
    overflow: hidden;
}

#fullPageDiv {
    position: absolute;
    width:100%;
    height:100%; 
    margin:0; 
    padding:0; 
    white-space: nowrap;
    font-size: 0;
}


#introPage, #pageone, #pagetwo, #pagethree {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: initial;
}

#centerPage {
    background-color: #4682B4;
}
#pageone {
    background-color: green;
}
#pagetwo {
    background-color: yellow;
}
#pagethree {
    background-color: blue;
}



