html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center; 
    overflow: hidden;
}

#fullPageDiv {
    position: absolute;
    width:100%;
    height:100%; 
    margin:0; 
    padding:0; 
    white-space: nowrap;
    font-size: 0;
}


#introPage, #pageone, #pagetwo, #pagethree {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: initial;
}

#introPage {
    background-color: #4682B4;
}
#pageone {
    background-color: #4682B4;
}
#pagetwo {
    background-color: #4682B4;
}
#pagethree {
    background-color: #4682B4;
}


/* PAGE ONE STYLE */

#fullPageDiv > #pageone > #pageOneContentDiv {
    width: 90%;
    height: 100%;
    float: left;
}

#fullPageDiv > #pageone > #pageOneMenuDiv {
    background-color: #632DA8;
    width: 10%;
    height: 100%;
    float: left; 
}

/* PAGE TWO STYLE */


#fullPageDiv > #pagetwo > #topDiv {
    width: 100%;
    height: 10%;
    background-color: #3B5998;
    color: #FFF;
}

#fullPageDiv > #pagetwo > #midDiv {
    width: 100%;
    height: 70%;
    background-color: #3B5998;
}

#titleP, #titlePS {
    font-size: 60px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
}

#titlePS {
    margin-left: 60px; 
    margin-bottom:30px;
}

#fullPageDiv > #pagetwo > #midDiv img {
    width: 40px;
    height: auto;
    bottom: 5px;
}

#fullPageDiv > #pagetwo > #midDiv > #midLeft {
    float:left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#fullPageDiv > #pagetwo > #midDiv > #midRight {
    float:left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#fullPageDiv > #pagetwo > #midDiv > #midRight > #floatingBox{
    width: 60%;
    height: 200px;
    background-color: rgba(0,0,0,0.2);
    
}





#fullPageDiv > #pagetwo > #lowDiv {
    width: 100%;
    height: 20%;
    background-color: #293E6A;
}


/* PAGE THREE STYLE */


#fullPageDiv > #pagethree > #pageThreeContentDiv {
    width: 90%;
    height: 100%;
    float: left;
}

#fullPageDiv > #pagethree > #pageThreeMenuDiv {
    background-color: #632DA8;
    width: 10%;
    height: 100%;
    float: left; 
}


