html, body {height: 100%;}

html {
    background-color:#4682B4;
    min-height: 100%;
    height: 100%;
    width: 100%;
    color: #FFF;
}

body{
    margin: 0;
    padding: 0;
    min-height:100%;
    min-width: 100%;
    text-align: center;
}

#fullPageDiv {
    height: 100%; 
    position: absolute;
}

#fullPageDiv > #centerPage {
    width: 100%; 
    float: left;
}

#fullPageDiv > #centerPage > #topDiv {
    width: 100%;
    height: 50%;
}

#fullPageDiv > #centerPage > #midDiv {
    width: 100%;
    height: 40%;
}

#fullPageDiv > #centerPage > #midDiv img {
    width: 120px;
    height: auto;
}

#fullPageDiv > #centerPage > #midDiv > #midLeft {
    float:left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#fullPageDiv > #centerPage > #midDiv > #midRight {
    float:left;
    width: 50%;
    height: 100%;
    text-align: center;
}


#fullPageDiv > #centerPage > #lowDiv {
    width: 100%;
    height: 10%;
}


#fullPageDiv > #centerPage > #leftPage {
    width: 100%;
    height: 100%; 
    position: absolute;  
    background-color: blue;
    left: -100%;
    float: left;
}




